@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.modal-mask {
  opacity: 0.8;
}

.modal-enter .modal-mask {
  opacity: 0;
}

.modal-enter-active .modal-mask {
  transition: all;
  transition-duration: 300ms;
  opacity: 0.8;
}

.modal-exit-active .modal-mask {
  transition: all;
  transition-duration: 300ms;
  opacity: 0;
}

.modal-content {
  transform: translateY(0);
  opacity: 1;
}

.modal-enter .modal-content {
  transform: translateY(100%);
  opacity: 0;
}

.modal-enter-active .modal-content {
  transition: all;
  transition-duration: 300ms;
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active .modal-content {
  transition: all;
  transition-duration: 300ms;
  transform: translateY(100%);
  opacity: 0;
}

@media (min-width: 768px) {
  .modal-content {
    transform: translate(-50%, 50%);
    opacity: 1;
  }

  .modal-enter .modal-content {
    transform: translate(-50%, 100%);
    opacity: 0;
  }

  .modal-enter-active .modal-content {
    transition: all;
    transition-duration: 300ms;
    transform: translate(-50%, 50%);
    opacity: 1;
  }

  .modal-exit-active .modal-content {
    transition: all;
    transition-duration: 300ms;
    transform: translate(-50%, 100%);
    opacity: 0;
  }
}